body {
    font-family:'Jost', sans-serif;
    line-height: 30px;
    margin: 0;
    text-align: left;
    font-weight: 400;
}

.text-indigo{
    color: #1A237E;
}
.skill-card{
    padding: 20px;
    background-color: #1A237E;
}
.skill-card h3{
    color: white;
}
.text-justify{
    text-align: justify;
}